[Unit]
Description=ObsidianOS Plugin Daemon
After=network.target

[Service]
ExecStart=/usr/bin/plugind
Restart=on-failure

[Install]
WantedBy=multi-user.target
